{% extends 'base.html' %}

{% block title %}Movies|Page{% endblock %}

{% block content %}
<body>
<form action="{% url 'search' %}" method="get" class="form-inline mt-2 mt-md-0">
            <input name="Q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
	{% for movie in movies %}

	<div class="row">
      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
          <a href="{%url 'movies' pk=movie.pk%}">
			  <img class="img-thumbnail mb-3" src="{%if movie.image%}{{movie.image.url}}{%endif%}" alt="" width="960" height="600">
    </a>
          <h5 class="mb-1">   {{movie.name}} </h5>
          <h4 class="mb-1">{{movie.year}}</h4>
      </div>
      </div>


{%endfor%}

<div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ movies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">next</a>
            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}
</body>
</html>